.dsf-card-filter{
    margin-top:  20px;
    background-color: var(--dsf-color-bg-03);
    height: 200px;
    border-radius: 5px;
    border: 1px solid var(--dsf-color-border-01);
    display: flex;

}
.dsf-form-items{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.dsf-form-items input{
    margin-bottom: 20px;
    border: 1px solid var(--dsf-color-border-01);
    padding-left: 10px;
 
}

.dsf-form-items input::placeholder{
    color: var(--dsf-color-font-placeholder);
   
 
}

.dsf-form-items button{
    background-color: var(--dsf-color-bg-01);
    color: var(--dsf-color-font-01);
    font-weight: 700;   
    border: none;
    cursor: pointer;
}


.dsf-item-form{
    height: 40px;
    width: 200px;
    border-radius: 5px;
    font-size: 16px;
}