@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
  --dsf-color-bg-01: #55BC04;
  --dsf-color-bg-02:#C2C2C2;
  --dsf-color-bg-03:#FFFFFF;

  --dsf-color-font-01:#FFFFFF;
  --dsf-color-font-02:#55BC04;
  --dsf-color-font-02:#6F6F6F;

  --dsf-color-border-01:#C2C2C2;

  --dsf-color-font-placeholder:#C2C2C2;

}

a {
  color: unset;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
   
}


html,body {
  background-color: var(--dsf-color-bg-02);
  
}

.dsf-container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

